@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-slate-900 bg-slate-50;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom selection color for a more branded feel */
::selection {
  @apply bg-rose-100 text-rose-900;
}